@charset "UTF-8";
  body, html {
    width: 100%;
    height: 100%;
    overflow: hidden; 
  }

  body {
    background-image: url(/img/desktop/bliss.jpg);
    background-size: cover;
  }

  @font-face {
      font-family: 'WinXP';
      src: url('/css/win.ttf') format("opentype");

  }

  .page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999; 
  }

  .xp_textbox, #login_error, #login_readme, #login_name, #login_room {
    background-color:white;
    position: absolute;
    padding: 4px 3px;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #13316f;
    outline: none;
    color: #000; 
  }

  #content {
    width: 100%;
    height: 100%;
    background-color: rgba(109, 51, 160, 0.92);
    background-image: url("../img/desktop/logo.png"), url("../img/desktop/bg.png");
    background-position: top left, center;
    background-repeat: no-repeat; 
    position: fixed; 
  }
.header {
  font-family:'WinXP';
}
h3 {
  font-family: 'WinXP';
}

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline; }

  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block; }

  body {
    line-height: 1; }

  body, html {
    margin: 0;
    padding: 0;
    font-size: 16px; }

  body, body * {
    font-family: 'Tahoma', sans-serif;}

  input[type="text"] {
    background-color: #fff;
    border: 1px inset #AAA;
    color: #000; }

  .xp_bubble, .bubble, .bubble_rev {
    background: #ffffe1;
    color: #000;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    border: #000000 solid 1px; }

  @font-face {
    font-family: 'Tahoma';
    src: url("../font/Tahoma/Tahoma.eot?#iefix") format("embedded-opentype"), url("../font/Tahoma/Tahoma.woff") format("woff"), url("../font/Tahoma/Tahoma.ttf") format("truetype"), url("../font/Tahoma/Tahoma.svg#Tahoma") format("svg");
    font-weight: normal;
    font-style: normal; }


.bubble_chat {
  position: absolute;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  font-family: 'WinXP';
  background-color: #f4ffd6;
  min-width: 50px;
  min-height: 50px;
  padding: 8px;
  max-width: 200px;
  max-height: 200px;
  overflow-y:auto;
  white-space:pre-wrap;
  word-break:break-word;
  z-index: 9996;
}
.bubble_point {
  position: absolute;
width: 28px;
height: 13px;
  z-index: 9997;
background-image: url(/img/bonzi/bubble_point.png)
}

.context_menu {
    position: absolute;
    background-color: white;
    width: 160px;
    border: 2px solid rgb(151 151 151);
    filter: drop-shadow(2px 2px 5px black);
	z-index:99999;
}
.context_text {
  position: relative;
  left: 10px;
  max-width:160px;
}
.context_text:hover {
	background:rgba(80,80,255,0.3);
}
  .bonzi_canvas {
    width: 200px;
    height: 160px;
    filter: drop-shadow(5px 5px 2px rgba(0,0,0,0.6));
    touch-action: none;
  }
  .bonzi_name {
    font-family: 'WinXP';
    border-style: solid;user-select:none;
    border-width: 4px 12px 4px 0;
    border-radius: 9px;
    border: #000000 solid 1px;
    padding: 8px;
    position: absolute;
    background: #ffffe1;
    font-size: 18px;
	z-index:99;
    color: #000; }

  .bubble_greentext {
    color: #789922; }


  .icon {
      position: relative;
      left: 0;
      width: 40px;
      height: 40px;
      background-size: cover;user-select:none;
      filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.6))
  }
.icon:hover {
    cursor: pointer;
}
  

  #brk {
    height: 0px;
  }

  #chat_bar {
    width: 100%;
    background-image: url(/img/desktop/taskbar.png)
  }

  .icon_label {
    font-family: 'WinXP', sans-serif;
    font-size: 18px;
    width: 80px;
    text-shadow: 1px 1px 0px black;
    color: white;
    position: relative;
    top: 30%;
    left: -25%;
}

.icon_bar {
    width: 90px;
    height: 80%;
    position: absolute;
    padding: 20px;
    top: 5px;
    white-space: pre-wrap;
    word-break: break-word;
    z-index: 9998;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#chat_bar {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 30px;
    display: flex;
    background-image: url("../img/desktop/taskbar.png");
    background-size: 100% 100%;
    z-index: 999;
}
#chat_start {
    width: 100px;
    height: 29px;
    background-image: url("../img/desktop/start.png");
    background-size: 104% 315%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: #fff;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 2px;
    user-select: none;
    font-size: 16px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    padding-left: 68px;
    padding-top: 7px;
    margin-left: -100px;
    position: absolute;
    left: 120px;
    z-index: 0;
}
#chat_start:hover {
    background-position: 0px -31px;
}
#chat_start:active {
	background-position: 0px -62px;
}
  #extras_bar {
    position: absolute;
    bottom: 0;
    left: 91%;
    width: 9%;
    height: 30px;
    background-image: url(../img/desktop/taskbar.png);
    background-size: 100% 100%;
    z-index: 999;
    filter: brightness(1.4);
  }
  #extras_slide {
	  user-select:none;
    position: relative;
    top: 5px;
    left: -10px;
    filter: brightness(0.8);
  }

#chat_send {
    width: 82px;
    height: 29px;
    background-image: url("../img/desktop/start.png");
    background-size: 82px 91px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: #fff;
    position: absolute;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
    user-select: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    z-index: 12;
    left: 0px;
}
#chat_send:hover {
    background-position: 0px -31px;
}
#chat_send:active {
	background-position: 0px -62px;
}
#chat_send span {
    position: relative;
    left: 36px;
    top: 5px;
}


#chat_message_cont {
    width: calc(100% - 200px);
    height: 30px;
    position: relative;
    /* top: 4px; */
    left: 120px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    z-index: -1;
}
#chat_message {width:100%;}
  #room_info {
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
  font-family: 'WinXP';
  line-height: 125%;
  text-align: right;
  padding: 7px;
  font-size: 16px;
  position: absolute;
  bottom: 30px;
  right: 0;user-select:none;
  user-select: text;
  -webkit-user-select: text;}

  #page_login {
    background-color: #8b5adc;
    background-image: url("../img/logon/logo.png"), url("../img/logon/top.png"), url("../img/logon/bottom.png"), url("../img/logon/topleft.png"), url("../img/logon/divider.png");
    background-position: center, top, bottom, top left, center;
    background-size: auto, 100% 100px, 100% 122px, auto, 1px 100%;
    background-repeat: no-repeat; }

  #login_apps {
    display: flex;
    justify-content: center;
    padding: 16px;
    flex-wrap: wrap; }

  #login_card {
    background-image: url("../img/logon/card.png");
    width: 353px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 20px;
    margin-top: -35px;
    box-sizing: border-box; }

  #login_error {
    top: 100%;
    position: absolute;
    margin-top: 8px;
    color: #d03b3b;
    font-size: 12px;
    padding: 8px; }

  #login_readme {
    font-family: 'WinXP';
    font-size: 20px;
    color: #444;
    padding: 12px;
    bottom: 20%;
    width: auto;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    text-align: center;
    left: 50%; }
  #readme{
    font-family: 'WinXP';
    font-size: 20px;
  }
#log_cont{
  width:300px;
  height:120px;
  background-color:rgba(0,0,0,0.4);
  color:white;
  max-height:120px;
  overflow:scroll;
  font-family:'WinXP';
  font-size:20px;
}
.notif {
  width: 353px;
  height: 124px;
  background-image: url(/img/desktop/notifalert1.png);
  background-size: 353px 124px;
  position:absolute;
  z-index: 999;
  font-family: 'WinXP';
}
.notif_cont {
  position:relative;
  left: 30px;
}
.notif_header {
  font-family: 'WinXP';
  position: relative;
  left: 20px;
  top: 14px;
  font-size: 18px;
}
.body {
  font-family: 'WinXP';
  position: relative;
  width: 300px;
  left: 0px;
  top: 20px;
  font-size: 15px;
}

  #login_name, #login_room {
    width: 160px;
    box-sizing: border-box; }

  #login_name {
    height: 28px;
    top: 8px;
    left: 16px;
    font-size: 14px; }

  #login_room {
    height: 18px;
    top: 43px;
    left: 16px;
    font-size: 12px; }

  #login_go {
    left: 185px;
    top: 24px;
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../img/logon/go.png");
    background-size: 100%;
    background-repeat: no-repeat; }
    #login_go:hover {
      background-position: 0 -20px; }
    #login_go:active {
      background-position: 0 -40px; }
p {
  font-family: 'WinXP';
  font-size: 18px;
}
#login_go1 {
  left: 13px;
  top: 24px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../img/logon/go.png");
  background-size: 100%;
  background-repeat: no-repeat; }
  #login_go1:hover {
    background-position: 0 -20px; }
  #login_go1:active {
    background-position: 0 -40px; }

  #login_load {
    color: #fff;
    font-weight: bold;
    font-style: italic;
    font-size: 35px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    line-height: 100%;
    height: 35px;
    top: 50%;
    left: 50%;
    margin-left: 23px; }
  ::placeholder {
    font-size: 18px;
    font-family: 'WinXP';
  }
  #login_version {
    font-family: 'WinXP';
    color: #fff;
    position: absolute;
    right: 16px;
    bottom: 16px;
    font-size: 32px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }

  @media screen and (max-height: 550px) {
    #page_login {
      background-image: url("../img/logon/logo.png"), url("../img/logon/topleft.png");
      background-position: center, 0 -100px;
      background-size: auto, auto;
      background-repeat: no-repeat; }

    #login_readme {
      font-size: 12px;
      bottom: 10%; } }
  @media screen and (max-height: 650px) {
    #login_apps > a:not(:first-child) {
      display: none; } }
  @media screen and (max-height: 450px) {
    #login_apps {
      display: none; } }
  @media screen and (max-height: 300px) {
    #login_readme, #login_version {
      display: none; } }
  @media screen and (max-height: 400px) and (max-width: 560px) {
    #login_readme {
      display: none; } }
  @media screen and (max-width: 560px) {
    #page_login {
      background-image: url("../img/logon/logo.mobile.png"), url("../img/logon/topleft.png");
      background-position: center, 0 -100px;
      background-size: auto, auto;
      background-repeat: no-repeat; }

    #login_card {
      background-image: url("../img/logon/card.mobile.png");
      width: 223px;
      height: 70px;
      margin-left: -112px;
      margin-top: 40px; }

    #login_readme {
      bottom: 10%; }

    #login_load {
      margin-top: 45px;
      margin-left: 0;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%); } }

  @media screen and (max-width: 600px) {
    .icon_bar {
      display: none;
    }
    #room_info {
      display: none;
    }
    .bubble_chat {
      max-width: 140px;
      font-size: 13px;
    }
    .bonzi_name {
	user-select:none;
      font-size: 14px;
      padding: 5px;
    }
  }

  #icon_toggle_btn {
    display: none;
    align-items: center;
    justify-content: center;
  }

  #page_error, #page_ban, #page_unsupp {
    background-color: rgba(0, 0, 0, 0.5); }
	.startmenu {
    position: absolute;
    width: 40%;
    height: 275px;
    background: white;
    z-index: 99;
    left: 0px;
    bottom: 28px;
    display: flex;
    flex-direction: column;
}
#startmenu {
    position: absolute;
    width: 280px;
    height: 350px;
    border-radius: 10px 10px 0px 0px;
    background: white;
    z-index: 99;
    left: 0px;
    bottom: 31px;
    display: none;
    flex-direction: column;
    z-index: 9999;
}
.startbanner {
    background: #a872db;
    background: linear-gradient(0deg, rgb(146 94 215) 16%, rgb(119 64 201) 90%, rgb(163 135 213) 100%);
    display: flex;
    width: 100%;
    height: 25%;
    flex-direction: row;
    user-select: none;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    /* font-style: italic; */
}
.startitems {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.startselection {
	display:flex;flex-direction:row;
	user-select:none;
	gap:5px;
}
.startselection:hover{
	background:rgba(0,50,220,0.3);
}
.startoptions {
	height: 45px;
	width:100%;
	background: linear-gradient(180deg, rgb(178 106 244), rgb(126 24 190));
	border: 1px solid rgb(36 0 42);
	position: relative;
	bottom: -60px;
	float:bottom;
}
.startbreak {
	width:95%;
	background:gray;
	height:1px;
}
button {
    font-family: 'WinXP';
    font-size: 16px;
    padding: 3px 7px;
    border: 1px solid rgb(44 90 127);
    background-image: linear-gradient(white, #d7d7d7);
    border-radius: 3px;
}
button:hover {
	box-shadow:inset 0px 0px 0px 2px rgba(255,100,0,0.3);
}
button:active {
	background:rgba(200,200,200,1);
	box-shadow:inset 0px 0px 0px 2px rgba(255,100,0,0.5);
}
.mediacontrol {
	background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(169, 190, 240, 1) 30%, rgba(115, 145, 217, 1) 50%, rgba(188, 199, 224, 1) 51%, rgba(255, 255, 255, 1) 97%);
    border-radius: 30px;
}
.bonzi_tag {
	display: inline;font-size: 10px;background: rgb(255, 240, 0);color: rgb(0,0,0);text-shadow:2px 2px 2px rgba(0,0,0,0.3); border-radius: 3px;padding: 4px 4px;margin-right: 3px;position: relative;top: -2px;
    width: 16px;
    height: 24px;
    position: relative;
    top: 0px;
}
.tagicon{
	width:16px;height:16px;position:relative;top:2px;
}
.user_img {
	width:160px;
	height:auto;
}
.user_vid {
	width:190px;
	height:auto;
}
.upload_dropzone {
    border: 1px solid #645436;
	width:100px;height:100px;font-size:25px;
    flex: 1;
	margin-left:calc(50% - 50px);
    cursor: pointer;
}

.upload_buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.upload_icon {
    height: 1rem;
    vertical-align: bottom;
}

@keyframes md_rainbow {
	from{filter:hue-rotate(0deg);}
	to{filter:hue-rotate(360deg);}
}
.md-italic {
	font-style:italic;
}
.md-bold {
	font-weight:bold;
}
.md-rainbow {
	color:red;
	animation:md_rainbow 4s linear infinite;
}
.md-large {
	font-size:30px;
}
.md-code {
	background:black;
	color:white;
	font-family:monospace;
}
